
.calendar {
  padding: 20px;
  margin: 10px;
  float:left;
  display: block;
  background-color:white;
  width:300px;
  height: 320px;
  border:solid 1px #CCC;
  margin-bottom:10px;
}

.header {
  float:left;
  width:100%;
  background:#C8F7C5;
  height:40px;
  color:black;
  margin-top: 10px;
  font-weight:bold;
  font-size: 20px;
}

.week{
  padding-top: 5px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: .1rem;
}

.DayNames{
  padding: 0;
  margin: 50 px;
  list-style: none;
  color:black;
  font-weight:bold;
}

.day {
	width: 10%;
  background:grey;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
  color: 'blue';
}
